:root
  --txt-color #3F3F3F
  --input-label-color #49485E
  --input-placeholder-color #B4B4B4
  --button-color--disabled #EEEEEE
  --button-color--enabled #7BAE73
  --txt-button-color--disabled #B4B4B4
  --txt-button-color--enabled #FFFFFF
  --negative-color #FF8484
  --txt-select-color #B4B4B4

  --control-fs 12px

  --controls-height 36px
